<h1>My Cart</h1>
<% @line_items.each do |line_item| %>
    <p><%= line_item.product.name %></p>
    <p>Quantity: <%= line_item.quantity %></p>
    <p>Product Price:<%= number_to_currency line_item.product.price %></p>
    <p>Subtotal:<%= number_to_currency line_item.line_item_total %></p>

<% end %>


<%= link_to "Proceed to Checkout?", checkout_path, class: "btn btn-success" %>
